<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<script th:src="@{/js/join.js}"></script>
<div class="container h-100">
    <div class="position-absolute top-50 start-50 translate-middle col-6 border rounded shadow-lg bg-body">
        <form th:action="@{/join}" method="post" th:object="${'user'}" encType="multipart/form-data">
            <div class="ps-3 pt-2 pb-2 bg-secondary">
                <h4 class="text-white">Join Member</h4>
            </div>
            <div class="p-3 pb-0 text-center">
                <div id='image-upload' class='ic-sing-file position-relative d-inline'>
                    <label for="upload_files" id = 'upload' class="position-absolute top-50 start-50 translate-middle upload"><i class="fa fa-upload"></i>
                        <input type="file" name="image" id="upload_files" class="form-control d-none" value="Upload" required>
                    </label>
                    <img class='rounded-circle' width='120' height='120' id='add-image' th:src="@{/images/default.png}" title='image-upload'>
                </div>
            </div>
            <div class="alert alert-danger m-3 mb-0"></div>
            <div class="row">
                <div class="col-6">
                    <div class="p-3 pb-0">
                        <label class="form-label fw-bold">ID</label>
                        <input type="text" class="form-control" minlength="8" name="id" required>
                    </div>
                    <div class="p-3 pb-0">
                        <label class="form-label fw-bold">E-mail</label>
                        <input type="email" class="form-control"  name="email" required>
                    </div>
                    <div class="p-3 pb-0">
                        <label class="form-label fw-bold">Phone number</label>
                        <input type="text" class="form-control" name="phoneNumber" minlength="13" maxlength="13" required>
                    </div>
                </div>
                <div class="col-6">
                    <div class="p-3 pb-0">
                        <label class="form-label fw-bold">Password</label>
                        <div class="position-relative">
                            <input type="password" class="form-control" minlength="8" name="password" required>
                            <span id="password-field" class="me-2 position-absolute top-50 end-0 translate-middle-y toggle-password">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                    </div>
                    <div class="p-3 pb-0">
                        <label class="form-label fw-bold">Name</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>
                    <div class="p-3">
                        <label class="form-label fw-bold">Address</label>
                        <input type="text" class="form-control" name="address" required>
                    </div>
                </div>
            </div>
            <div class="p-3 text-center">
                <button type="submit" class="btn btn-primary w-50 m-auto">Join</button>
                <a href="#" class="fs-6 d-block" onclick='loadPage()'>Return Login</a>
            </div>
        </form>
    </div>
</div>

<script>
    function loadPage() {
        window.location = "[[@{/login}]]";
    }
    $(document).ready(function (){
        $('.alert').hide();
        $("input[name='id']").change(function (){
            const id = $(this).val()
            if (id.length < 8) {
                arrError[3] = 'ID must contain at least 8 digits.';
                showAlert(3);
                return;
            }
            if(!checkID(id)) {
                arrError[3] = 'ID must contain at least one lowercase letter, one uppercase letter, and one number.';
                showAlert(3);
            } else {
                $.get("[[@{/check-id/}]]"+id,function (data, status) {
                    if (status == "success") {
                        if (data == true) {
                            arrError[3] = ""
                            showFirst();
                        } else {
                            arrError[3] = 'ID already exists.';
                            showAlert(3);
                        }
                    }
                })
            }

        });
    });
</script>

</body>
</html>