<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <div class="container h-100">
        <div class="position-absolute top-50 start-50 translate-middle col-4 border rounded shadow-lg bg-body">
            <form th:action="@{login}" method="post">
                <div class="ps-3 pt-2 pb-2 bg-secondary">
                    <h4 class="text-white">Login</h4>
                </div>
                <div class="p-3 pb-0">
                    <label for="formGroupExampleInput" class="form-label fw-bold">ID</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="id" required>
                </div>
                <div class="p-3">
                    <label class="form-label fw-bold">Password</label>
                    <div class="position-relative">
                        <input type="password" class="form-control" minlength="8" name="password" required>
                        <span id="password-field" class="me-2 position-absolute top-50 end-0 translate-middle-y toggle-password">
                                <i class="fas fa-eye"></i>
                            </span>
                    </div>
                </div>
                <div class="p-3 text-center">
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                    <a class="fs-6" th:href="@{join}">Join Member</a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>